<section class="home-hero" aria-labelledby="home-hero-title">
  <div class="home-hero__visuals" aria-hidden="true">
    <img
      class="home-hero__visual"
      src="img/home/hero/visuals.png"
      alt=""
      width="553"
      height="1747"
    />
    <img
      class="home-hero__mobile-visual home-hero__mobile-visual--chicken"
      src="img/home/hero/mobile-chicken-bowl.png"
      alt=""
      width="304"
      height="654"
    />
    <img
      class="home-hero__mobile-visual home-hero__mobile-visual--salmon"
      src="img/home/hero/mobile-salmon-bowl.png"
      alt=""
      width="395"
      height="865"
    />
    <img
      class="home-hero__mobile-visual home-hero__mobile-visual--steak"
      src="img/home/hero/mobile-steak-bowl.png"
      alt=""
      width="517"
      height="870"
    />
  </div>

  <div class="home-hero__main-cta">
    <div class="home-hero__text">
      <p class="home-hero__eyebrow">AI-Powered recipe generator</p>
      <h1 class="home-hero__title" id="home-hero-title">Code à Cuisine</h1>
    </div>

    <a class="home-hero__primary-button" routerLink="/generator">Get started</a>
  </div>

  <div class="home-hero__secondary-cta">
    <h2 class="home-hero__secondary-title">Hungry for inspiration?</h2>
    <a class="home-hero__secondary-button" routerLink="/cookbook">
      <span>Go to cookbook</span>
      <svg
        class="home-hero__secondary-icon"
        width="26"
        height="16"
        viewBox="-1 -8 26 16"
        aria-hidden="true"
        focusable="false"
      >
        <path
          fill="currentColor"
          d="M0 -1C-.552285-1-1-.552285-1 0S-.552285 1 0 1V-1ZM24.7071.707107C25.0976.316583 25.0976-.316583 24.7071-.707107L18.3431-7.07107C17.9526-7.46159 17.3195-7.46159 16.9289-7.07107C16.5384-6.68054 16.5384-6.04738 16.9289-5.65685L22.5858 0L16.9289 5.65685C16.5384 6.04738 16.5384 6.68054 16.9289 7.07107C17.3195 7.46159 17.9526 7.46159 18.3431 7.07107L24.7071.707107ZM0 0V1H24V-1H0V0Z"
        />
      </svg>
    </a>
  </div>
</section>
