<app-header backgroundTheme="light" />

<main class="recipe-generator">
  <section class="recipe-generator__content" aria-labelledby="generator-heading">
    <h1 id="generator-heading" class="recipe-generator__title">Generate recipe</h1>

    <div class="recipe-generator__step">
      <p class="recipe-generator__description">
        Got random stuff in your kitchen? Pop it in - we've got the perfect recipe waiting.
      </p>

      <div class="recipe-generator__form">
        <div
          class="recipe-generator__workspace"
          [class.recipe-generator__workspace--empty]="!hasIngredients()"
        >
          <app-ingredient-input />

          @if (hasIngredients()) {
            <app-ingredient-list />
          }
        </div>

        @if (hasIngredients()) {
          <a class="recipe-generator__next-button" routerLink="/generator/preferences">
            Next step
          </a>
        }
      </div>
    </div>
  </section>
</main>
