@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300 700;
  src: url('../../public/fonts/quicksand-variable-font-wght.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/ubuntu-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/ubuntu-medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/ubuntu-bold.ttf') format('truetype');
}
