$white: #ffffff;
$black: #000000;
$dark-green: #10310b;
$middle-green: #1e5515;
$primary-green: #396039;
$loader-green: #c4d0c4;
$button-green: #008000;
$button-green-hover: #055e05;
$cream: #faf0e6;
$cream-hover: #fae0c6;
$light-cream: #f5f5dc;
$card-gray: #dbe0db;
$card-hover-gray: #d7dfd7;
