@use '../styles/functions';

.app {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  margin-inline: auto;
}

@media (min-width: 1440px) {
  .app {
    max-width: functions.px-to-rem(1440);
  }
}
