<section
  class="recipe-ingredients"
  [class.recipe-ingredients--collapsed]="!ingredientsVisible()"
  aria-labelledby="ingredients-title"
>
  <div class="recipe-ingredients__heading">
    <picture class="recipe-ingredients__heading-picture">
      <source
        media="(max-width: 767px)"
        srcset="img/recipe-details/mobile-ingredients-heading.png"
      />
      <img
        class="recipe-ingredients__heading-image"
        src="img/recipe-details/ingredients-heading.png"
        alt=""
        width="1152"
        height="148"
      />
    </picture>
    <h2 id="ingredients-title" class="recipe-ingredients__title">Ingredients</h2>
  </div>

  @if (ingredientsVisible()) {
    <div id="ingredients-content" class="recipe-ingredients__columns">
      <section class="recipe-ingredients__column" aria-labelledby="own-ingredients-title">
        <h3 id="own-ingredients-title" class="recipe-ingredients__column-title">
          Your ingredients
        </h3>
        <ul class="recipe-ingredients__list recipe-ingredients__list--own">
          @for (ingredient of recipe().availableIngredients; track ingredient.name) {
            <li>
              <span class="recipe-ingredients__quantity">{{ formatQuantity(ingredient) }}</span>
              <span class="recipe-ingredients__name">{{ ingredient.name }}</span>
            </li>
          }
        </ul>
      </section>

      <section
        class="recipe-ingredients__column recipe-ingredients__column--extra"
        aria-labelledby="extra-ingredients-title"
      >
        <h3 id="extra-ingredients-title" class="recipe-ingredients__column-title">
          Extra ingredients
        </h3>
        <ul class="recipe-ingredients__list recipe-ingredients__list--extra">
          @for (ingredient of recipe().additionalIngredients; track ingredient.name) {
            <li>
              <span class="recipe-ingredients__quantity">{{ formatQuantity(ingredient) }}</span>
              <span class="recipe-ingredients__name">{{ ingredient.name }}</span>
            </li>
          } @empty {
            <li class="recipe-ingredients__empty">
              <span>No extra ingredients needed</span>
            </li>
          }
        </ul>
      </section>
    </div>
  }

  <button
    class="recipe-ingredients__toggle"
    type="button"
    [attr.aria-expanded]="ingredientsVisible()"
    aria-controls="ingredients-content"
    (click)="toggleIngredients()"
  >
    <span>{{ ingredientsVisible() ? 'Hide ingredients' : 'Show ingredients' }}</span>
    <span
      class="recipe-ingredients__toggle-icon"
      [class.recipe-ingredients__toggle-icon--collapsed]="!ingredientsVisible()"
      aria-hidden="true"
    ></span>
  </button>
</section>
