<section class="recipe-ingredients" aria-labelledby="ingredients-title">
  <div class="recipe-ingredients__heading">
    <img
      class="recipe-ingredients__heading-image"
      src="img/recipe-details/ingredients-heading.png"
      alt=""
      width="1152"
      height="148"
    />
    <h2 id="ingredients-title" class="recipe-ingredients__title">Ingredients</h2>
  </div>

  <div class="recipe-ingredients__columns">
    <section class="recipe-ingredients__column" aria-labelledby="own-ingredients-title">
      <h3 id="own-ingredients-title" class="recipe-ingredients__column-title">Your ingredients</h3>
      <ul class="recipe-ingredients__list recipe-ingredients__list--own">
        <li><span class="recipe-ingredients__quantity">80g</span><span>Pasta noodles</span></li>
        <li><span class="recipe-ingredients__quantity">100g</span><span>Baby spinach</span></li>
        <li><span class="recipe-ingredients__quantity">150g</span><span>Cherry tomatoes</span></li>
        <li><span class="recipe-ingredients__quantity">1 piece</span><span>Egg</span></li>
      </ul>
    </section>

    <section
      class="recipe-ingredients__column recipe-ingredients__column--extra"
      aria-labelledby="extra-ingredients-title"
    >
      <h3 id="extra-ingredients-title" class="recipe-ingredients__column-title">
        Extra ingredients
      </h3>
      <ul class="recipe-ingredients__list recipe-ingredients__list--extra">
        <li><span class="recipe-ingredients__quantity">40g</span><span>Parmesan cheese</span></li>
        <li><span class="recipe-ingredients__quantity">30ml</span><span>Olive oil</span></li>
        <li>
          <span class="recipe-ingredients__quantity">Herbs</span>
          <span>(dry basil, oregano, garlic)</span>
        </li>
      </ul>
    </section>
  </div>
</section>
