@use './styles/fonts';
@use './styles/variables' as variables;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: variables.$primary-green;
  color: variables.$cream;
  font-family: 'Quicksand', sans-serif;
}

button,
input,
select,
textarea {
  font: inherit;
}

img {
  display: block;
}
